body {
    padding-top: 44px;
    padding-bottom: 40px;
	background-color: #ddd;
}

.navbar-brand, .navbar-brand:active, .navbar-brand:visited, .navbar-brand:hover {
	font-family: Arvo,"Helvetica Neue",Helvetica,Arial,sans-serif;	
	color: white;
	font-size: 20px;
	padding: 12px 15px;
}
.navbar {
	min-height: 44px;
}
nav img {
	height: 32px;
}
.navbar-nav li a, .navbar-nav li a:active, .navbar-nav li a:visited, .navbar-nav li a:hover {
	padding: 6px 12px;
}
.navbar-nav li a.btn, .navbar-nav li a.btn:active, .navbar-nav li a.btn:visited, .navbar-nav li a.btn:hover {
	color: white;
	margin-top: 6px;
}
.navbar-header {
	float: left;
}
.navbar-right {
	float: right;
	margin: 0px;
}
.navbar-nav .open .dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	left: auto;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #333;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:active {
	background-color: #428bca;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
   overflow: hidden;
}

.cf:after {
    clear: both;
   overflow: hidden;
}

.jumbotron h1 {
	font-family: Arvo,"Helvetica Neue",Helvetica,Arial,sans-serif;	
	font-weight: 700;
	font-size: 45px;
}

.container-page {
	background-color: white;
	padding: 5px 15px 20px;
}

.container-items {
	padding-top: 20px;
}

.list {
	margin-bottom: 20px;
	margin-left: -10px;
	margin-right: -10px;
}
.list article {
	width: 33%;
	box-sizing: border-box;
	float: left;
	padding: 10px;
}
.list article div {
	padding: 10px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
.list img {
	width: 100%;
	min-height: 161px;
	border: 1px solid #eee;
}
.list h4 {
	padding: 12px 0;
}
.list .btn-success {
	float: right;
}
.list.public .btn-success {
	position: relative;
	top: -41px;
}

pre.preview {
	font-size: 9px;
	overflow: scroll;
}
pre.preview code {
	overflow: scroll;
}
.stdout {
	font-size: 1em;
}

#stitchCanvasContainer {
	border: 2px solid #ddd;
}
/* form styles */
#stitchpattern {
	margin-top: 20px;
}
#stitchpattern input[type='text']{
	max-width: 400px;
	display: inline;
}
#stitchpattern input[type='submit'] {
	float: right;
}
